.google-sign-in-btn{
   span{
    color: #02254A;
    font-family: 'Roboto';
    font-size: 16px;
   }
   img{
    height: 31px;
    width: 40px;
   }
   button{
    background-color: #fff;
    box-shadow: none !important;
    font-family: 'Salsa';
    font-style: normal;
    letter-spacing: 0.15em;

  }
}

.form-errors{
  color: rgba(255, 0, 0);
}
.google-sign-in-btn{
    width: 90%;

    background-color: #fff;
    border: 2px solid #9C8220;
    font-family: 'Salsa';
    font-style: normal;
}