.g-signin{
   display: none;
}
.google-sign-in-btn{
    width: 100%;
    margin: 20px;
    background-color: #fff;
    color: #2D4263;
    border: 2px solid #2D4263;
    font-family: 'Roboto';
}
.google-icon{
    height: 31px;
    width: 40px;
}